body {
    background-color: #f1b75a; /* Fondo naranja */
    font-family: Arial, sans-serif;
  }
  
  h2 {
    color: #333;
  }
  
  .card img {
    height: 200px;
    object-fit: cover;
  }
  